<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
      <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
   <link rel="shortcut icon" href="/images/logo12.jpeg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/account.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js" defer></script>
    <script src="/js/index.js" defer></script>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js" defer></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js" defer></script>
      <!-- add to document <head> -->
        <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
  
        <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
        <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
        <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded',()=>{
          FilePond.registerPlugin(
              FilePondPluginImageResize,
              FilePondPluginImagePreview,
              FilePondPluginFileEncode
              );
              FilePond.setOptions({
                  stylePanelAspectRatio: 150/100,
                  imageResizeTargetWidth: 100,
                  imageResizeTargetHeight: 150
              })
              FilePond.parse(document.body)
      })
    </script>
    <style>
      .filepond--credits {
        display: none;
      }
     </style>
    </head>
    <body>      
  <nav class="navi"> 
    <!--menu-bar----------------------------------------->
    <div class="navigation">
      <!--logo------------>
      <a href="/" class="logo"><img src="/images/logo12.png"></a>
      <!--menu-icon------------->
      <div class="toggle"></div>
      <!--menu----------------->
      <ul style="margin-left: 70px;"  class="menu">
        <li  class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/store/allproduct" class="nav-link">Store</a>
        </li>
       
        <!-- <li class="nav-item">
          <a href="/totalproduct" class="nav-link">Cart (<span class="amountcart"><%= amountcart %></span>)</a>
        </li> -->
      </ul>
      <!--right-menu----------->
      <div class="right-menu">
        <% if(name != '') { %> 
          <% if(infouser[0].img == null) { %> 
            <a class="user" style="margin-right: -160px; margin-left: 30px; font-size: 13px;" href=""><span class="nameuser"><%= name %></a>
            <a href="/account" class="user">
            <img class="avatar" src="https://i.pinimg.com/originals/1e/f4/ce/1ef4ce20bcac49c2ff39507eaa09b2e7.jpg" alt="">
            </a>
          <% }else{ %> 
            <a class="user" style="margin-right: -160px; margin-left: 40px; font-size: 13px;" href=""><span class="nameuser"><%= name %></a>
            <a href="/account" class="user">
            <img class="avatar" src="<%= infouser[0].coverImagePath %>" alt="">
            </a>
          <% } %> 
        <% }else{ %> 
        <a style="margin-left: 50px;" href="/account" class="user">
          <i class="far fa-user"></i>
        </a>
        <% }%> 
        <a href="javascript:void(0);" class="search">
         <i class="fas fa-search"></i>
       </a>
        <a href="/cart/totalproducts">
          <i class="fas fa-shopping-cart">
            <span class="num-cart-product"><%= amountcart %></span>
          </i>
        </a>
      </div>
      </div>
    </nav>
    <!--search-bar----------------------------------->
   
  <form action="/store/search" method="POST">
    <div class="search-bar">
       
      <!--search-input------->
      <div class="search-input">
      <input type="text" placeholder="Search For Product By Name" name="productsearch" />
      <button class="btnsearch" type="submit">
        <i class="fas fa-search"></i>
      </button>
      <!--cancel-btn--->
      <a href="javascript:void(0);" class="search-cancel">
        <i class="fas fa-times"></i>
      </a>
    </div>
    </div>
    </form>
    <div class="container-fluid">
      <div class="row">   
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky">
              <ul class="nav flex-column">
                  
                  <li style="margin-top: 90px; margin-bottom: 30px;" class="nav-item">
                      <div class="row">
                          <div  class="col">
                              <div style="margin-top: 115px;"  class="comment-avatar">
                                 <% if(infouser[0].img == null ){ %>
                                  <img src="https://i.pinimg.com/originals/1e/f4/ce/1ef4ce20bcac49c2ff39507eaa09b2e7.jpg">
                                  <% }else{ %>
                                    <img src="<%= infouser[0].coverImagePath %>" alt="">
                                  <% } %>
                                </div> 
                          </div>
                          <div style="font-family: 'Merriweather', serif;" class="col">
                              <p style="margin-left: -25px; margin-top: -72px; font-size: 25px;"><%= infouser[0].username %></p>
                              <small style="font-size: 12px; margin-top: -10px; margin-left: -24px; position: absolute; color: gray;" >Manage your personal information.</small>
                          </div>
                      </div>
                                      
                  </li>
                  
                  <li class="nav-item">
                      <a  style="margin-left: 50px; margin-bottom: 30px; margin-top: 20px; " class="nav-link  active" href="#">
                        <i class="far fa-user"></i>
                        <span class="ml-2">Account</span>
                      </a>                      
                  </li>
                  <li class="nav-item">
                      <a style="margin-left: 50px; margin-bottom: 30px;" class="nav-link" href="/account/email">
                        <i class="far fa-envelope"></i>
                        <span class="ml-2">Email</span>
                      </a>
                    </li>
                  <li class="nav-item">
                    <a style="margin-left: 50px; margin-bottom: 30px;" class="nav-link" href="/account/address">
                      <i class="fas fa-map-pin"></i>
                      <span class="ml-2">Address & Phone</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a style="margin-left: 50px; margin-bottom: 30px;"  class="nav-link" href="/account/creditcard">
                      <i class="far fa-credit-card"></i>
                      <span class="ml-2">Creditcard</span>
                    </a>
                  </li>
                  <li class="nav-item">
                      <a style="margin-left: 50px; margin-bottom: 30px;" class="nav-link" aria-current="page" href="/account/historybuyer">
                          <i class="fab fa-product-hunt"></i>
                        <span class="ml-2">Order</span>
                      </a>
                  </li>
                  <% if(name == 'admin') { %>
                  <li class="nav-item">
                      <a style="margin-left: 50px; margin-bottom: 30px;" class="nav-link" aria-current="page" href="/account/seller">
                          <i class="fab fa-sellsy"></i>
                        <span class="ml-2">Seller</span>
                      </a>
                  </li>
                  <% } %>
                  <form action="/account/logout">
                    <div style="margin-top: 50px; margin-left: 65px;">
                      <button class="btn-secondary btn"> Log out &nbsp; <i class="fas fa-sign-out-alt"></i></button>
                    </div>
                  </form>
                </ul>
          </div>
      </nav>
          <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
              <nav style="z-index: -100;" aria-label="breadcrumb">
                  <ol style="font-size: 20px;" class="breadcrumb">
                      <li class="breadcrumb-item"><a style="color: black;"  href="/">Home</a></li>
                      <li class="breadcrumb-item active" style="color: #8C7741;" aria-current="page">Account</li>
                  </ol>
              </nav>
              <h1 style="font-size: 24px;" class="h2">Account</h1>
              <p style="font-size: 13px;">Manage your personal information for the safety of this account.</p>
              <hr>
              <!-- <% if(msg && msg.length > 0){ %>
                <div class="alert alert-success" role="alert">
                  <%= msg %>
                </div>
              <% } %>
           -->
              <div class="row my-4">              
                 <div style="margin-left: 100px; margin-top: 40px;" class="col-12 col-md-6 col-lg-9 mb-4 mb-lg-0">
                    <div class="">
                        <div class="">
                          <i style="font-size: 20px;" class="far fa-user"></i>&nbsp;&nbsp; <span style="font-size: 22px;">Username & Password</span> 
                        </div>
                        <div class="card-body">
                             <form action="/account/updateprofile" method="post">
                                    <div style="margin-top: 20px;" class="row">         
                                        <div class="col">
                                             <div class="form-group">
                                                     <label style="font-size: 17px; margin-bottom: 15px;">Username:</label>
                                                     <h4 style="margin-bottom: 20px; color: gray;"><%= infouser[0].username %></h4>

                                              </div>
                                         <div class="form-group frame">
                                           <label style="font-size: 17px;  margin-bottom: 15px;">Password:</label>
                                           <input style="width: 500px; height: 40px;" type="password" class="form-control" name="password" value="************" autocomplete="off">
                                         </div>
                                         <div class="form-group" style="margin-top: 40px; " >
                                          <input style="font-size: 13px;" type="submit" class="btn btn-info" value="Save">         
                                     </div>
                                    </form>
                                    </div>
                                         <div class="col">
                                             <div style="margin-left: 70px; margin-top: 5px;" class="col imgsell">
                                              <div style="margin-bottom: 10px;" class="form-group">
                                                <label style="margin-bottom: 10px;">Image:    
                                                  <a style="font-size: 10px; margin-left: 10px; color: #8C7741; padding: 5px 0px; margin-top: -1px; position: absolute;" href="#" data-toggle="modal" data-target="#myModal">
                                                  <% if(infouser[0].img == null ){ %>
                                                    Add image
                                                  <% }else{ %>
                                                    Edit image
                                                  <% } %>
                                                  </a>
                                                </label>
                                                <div scope="row" class="imgpro">
                                                  <% if(infouser[0].img == null ){ %>
                                                    <img style="width: 130px; border: 2px solid rgb(179, 177, 177); box-shadow: 0 1px 2px rgba(0, 0, 0, .2);" src="https://www.ormistonhospital.co.nz/wp-content/uploads/2016/05/No-Image.jpg" alt="" class="ui image">
                                                    <% }else{ %>
                                                      <img style="width: 130px; border: 2px solid rgb(179, 177, 177); box-shadow: 0 1px 2px rgba(0, 0, 0, .2);" src="<%= infouser[0].coverImagePath %>" alt="" class="ui image">
                                                    <% } %>        
                                                </div>
                                            </div>    
                                             </div>
                                           </div>                                  
                                     </div>               
            <div style="margin-top: 30px;" class="form-group">
              <label style="font-size: 16px;  margin-bottom: 0px;">Delete Account</label>
          </div>
          <div style="margin-top: 15px;" class="form-group" >
            <form action="/account/deleteaccount?id=<%= infouser[0]._id %>" method="post">
              <div class="form-group" style="margin-top: 5px; " >
                  <input type="submit" style="margin-left: 0px; font-size: 12px;" class="btn btn-danger" value="Delete">        
            </div>
              
            </form>
         </div>
      </div>
  </div>
 </div>
</div>      
          </main>
      </div>
  </div>   
    </body>
    <div style="top: 20%; border-radius: 25px; padding: 20px 10px;" class="modal fade " id="myModal">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
          <form method="POST" action="/account/updateimgprofile">
              <div class="modal-header">
                  <h2 class="modal-title">&nbsp;Image Profile</h2>
                      <button style="margin-top: -2px;" data-dismiss="modal" type="button" class="close">
                          <span>&times;</span>
                      </button>
              </div>
              <div style="background-color: white;" class="modal-body">     
                <div style="margin-bottom: 10px; margin-left: 11px;" class="col imgsell">
                  <div style="margin-bottom: -20px; margin-left: 19%; width: 200px; " class="ui field">
                      <input style="height: 50px;" type="file" name="img" class="filepond filepond--item ui image small" required>    
                  </div>
                </div>
              </div>
              <div style="margin-bottom: 5px;" class="modal-footer">
                  <button type="submit" class="btn btn-secondary" >Save</button>
              </div>
          </form>
          </div>
      </div>
    </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
</html>