<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logo12.jpeg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/account.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js" defer></script>
    <title>Laespela</title>
  <script
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossorigin="anonymous"
  ></script>   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js" defer></script>
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js" defer></script> 
</head>
<body>
  <% if(infouser[0].username.length > 7){
    name = infouser[0].username.substring(0,7) + '..'
  } %> 
  <nav style="background-color: black;" class="navbar navbar-light p-3 ">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
        <a class="navbar-brand logo" href="/">
          <img src="/images/logo12.png">
        </a>
        <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <!-- <div class="col-12 col-md-4 col-lg-2">
        <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
    </div> -->
    <div style="margin-right: 50px;" class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
      <div class="logo-wrap1">
        <% if(infouser[0].img == null ){ %>
          <div class="logo">
            <span><%= infouser[0].username.substring(0, 1).toUpperCase() %></span>
          </div>
          <% }else{ %>
            <img  class="logo" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" src="<%= infouser[0].coverImagePath %>">
        <% } %> 
      </div>
        <div class="dropdown">
          <button class="dropbtn">
            <%= name %> &nbsp;<i class="fas fa-caret-down"></i>
          </button> 
         <div class="dropdown-content">
          <a href="/cart/totalproducts">Cart (<%= amountcart %>)</a>
          <a href="/account/logout">Log out</a>
        </div>
      </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky">
         
          <ul class="nav flex-column">
            <li style="border-bottom: rgb(211, 211, 211) 1px solid;" class="nav-item aimg">
              <div class="logo-wrap">
                <% if(infouser[0].img == null ){ %>
                  <div class="logo">
                    <span><%= infouser[0].username.substring(0, 1).toUpperCase() %></span>
                  </div>
                  <% }else{ %>
                    <img  class="logo" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" src="<%= infouser[0].coverImagePath %>">
                <% } %> 
                <span class="logo-text"><%= name %> <br> <span class="logo-text2">Edit&nbsp;information</span></span>
              </div>
            </li>
            <li  class="nav-item ac">
              <span style="margin-left: 0px; margin-top: 10px; font-size: 18px;" class="nav-link" href="#"> Account</span>
              <ul class="submenu">
                <li><a style="margin-left: 0px; margin-top: 10px; font-size: 12px;" class="nav-link" href="/account/accountinfo"><i class="far fa-user"></i> &nbsp; Profile </a></li>
                <li><a style="margin-left: 0px; margin-top: 10px; font-size: 12px;" class="nav-link" href="/account/email"><i class="far fa-envelope"></i> &nbsp; Email </a></li>
                <li><a style="margin-left: 0px; margin-top: 10px; font-size: 12px;" class="nav-link" href="/account/address"><i class="fas fa-map-pin"></i> &nbsp; Address & Phone </a></li>
                <li><a style="margin-left: 0px; margin-top: 10px; font-size: 12px; margin-bottom: 10px;"class="nav-link active" href="/account/creditcard"><i class="far fa-credit-card"></i> &nbsp; Creditcard </a></li>
              </ul>
            </li>
            <li class="nav-item ac">
              <a style="margin-left: 0px; margin-bottom: 20px; font-size: 16px; margin-top: 20px;" class="nav-link" aria-current="page" href="/account/historybuyer">
                <i class="fas fa-history"></i>
                <span class="ml-2">History Purchase</span>
              </a>
          </li>
          <li class="nav-item ac">
            <a style="margin-left: 0px; margin-bottom: 10px; font-size: 16px;" class="nav-link" aria-current="page" href="/account/review">
              <i class="far fa-comments"></i>
              <span class="ml-2">My reviews</span>
            </a>
        </li>
          </ul>
        </div>
    </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Account</li>
                  <li class="breadcrumb-item active" aria-current="page">Creditcard</li>
              </ol>
          </nav>
          <% if(success && success.length > 0) { %>
            <div style="margin-left: -15px;" class='alert success' role ='alert'>
              <p class="inner">
                <%= success %>
              </p>
            </div>
          <%}%>
          <h1 class="h2">Creditcard</h1>
          <p>Manage your personal information for the safety of this account</p>
          <div class="row my-4">
            <div class="col-12 col-md-8 col-lg-5 mb-4 mb-lg-0">
                <div style="border: 0px;" class="card">
                    <div class="card-body">
                      <form action="/account/updatecard?id=<%= infocreditcard.creditcard[0]._id %>" method="post">
                        <div style="margin-top: 0px;" class="row">         
                            <div class="col">                                         
                             <div class="form-group frame">
                               <label style="font-size: 14px; margin-bottom: 10px; margin-top: 5px;">Name on card :</label>
                               <input type="text" class="form-control box mb-4" name="cardname" value="<%= infocreditcard.creditcard[0].NameCard %>" autocomplete="off">
                             </div>
                             <div class="form-group frame">
                              <label style="font-size: 14px;  margin-bottom: 10px;">Credit card number :</label>
                              <input type="text" class="form-control box mb-4" name="cardnumber" value="<%= infocreditcard.creditcard[0].NumberCard %>" autocomplete="off">
                            </div>
                            <div class="form-group">
                              <label style="font-size: 14px;  margin-bottom: 15px; margin-bottom: 10px;">Valid date :</label>
                              <input style="width: 500px; height: 40px; font-size: 12px; margin-bottom: 10px; width: 70px; padding: 5px 17px; height: 30px;" type="text" class="form-control" name="cardvalid" value="<%= infocreditcard.creditcard[0].ValidDate %>" autocomplete="off">
                            </div>
                            <div class="form-group">
                              <label style="font-size: 14px;  margin-bottom: 15px; margin-bottom: 10px;">CVV :</label>
                              <input style="width: 500px; height: 40px; font-size: 12px; margin-bottom: 10px; width: 50px; padding: 5px 13px; height: 30px;" type="text" class="form-control" name="cvv" value="<%= infocreditcard.creditcard[0].CVV %>" autocomplete="off">
                            </div>
                              <div class="form-group" style="margin-top: 30px; " >
                                   <input style="font-size: 13px;" type="submit" class="btn btn-info" value="Save">         
                               </div>
                            </div>
                      
                         </div>
                      </form>
                      </div>
                    </div>
                  </div>
            </div>
        </div>  
      </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>