<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo12.jpeg" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="css/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js" defer></script>
    <script src="./js/product.js" defer></script>
    <script src="./js/slider.js" defer></script>
    <script src="./js/index.js" defer></script>
    <script src="./js/modal.js" defer></script>
     <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js" defer></script>
    <title>Laespela</title>
</head>
<body>
  <nav class="navi"> 
    <!--menu-bar----------------------------------------->
    <div class="navigation">
      <!--logo------------>
      <a href="/" class="logo"><img src="images/logo12.png"></a>
      <!--menu-icon------------->
      <div class="toggle"></div>
      <!--menu----------------->
      <% if(name == '') { %> 
        <ul style="margin-left: -5%;" class="menu">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/allproduct" class="nav-link">Store</a>
          </li>
        </ul>
        <%  }else{ %> 
        <ul style="margin-left: 10px;" class="menu">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/allproduct" class="nav-link">Store</a>
          </li>
        </ul>
        
        <%  } %> 
      
      <!--right-menu----------->
      <div class="right-menu">
        <% if(name != '') { %> 
          <% if(infouser.img == null) { %> 
            <a class="user" style="margin-right: -160px; margin-left: 30px; font-size: 13px;" href=""><%= name %></a>
            <a href="/account" class="user">
            <img class="avatar" src="/images/wine2.png" alt="">
            </a>
          <% }else{ %> 
            <a class="user" style="margin-right: -160px; margin-left: 40px; font-size: 13px;" href=""><%= name %></a>
            <a href="/account" class="user">
            <img class="avatar" src="<%= infouser.coverImagePath %>" alt="">
            </a>
          <% } %> 
        <% }else{ %> 
        <a style="margin-left: 50px;" href="/account" class="user">
          <i class="far fa-user"></i>
        </a>
        <% }%> 
        <a href="javascript:void(0);" class="search">
         <i class="fas fa-search"></i>
       </a>
        <a href="/totalproduct">
          <i class="fas fa-shopping-cart">
            <span class="num-cart-product"><%= amountcart %></span>
          </i>
        </a>
      </div>
      </div>
    </nav>
    <!--search-bar----------------------------------->
   
  <form action="/search" method="POST">
    <div class="search-bar">
       
      <!--search-input------->
      <div class="search-input">
      <input type="text" placeholder="Search For Product By Name" name="productsearch" />
      <!--cancel-btn--->
      <a href="javascript:void(0);" class="search-cancel">
        <i class="fas fa-times"></i>
      </a>
    </div>
    </div>
  </form>
      <main>
        <section class="home" id="home">
            <div class="home-slider owl-carousel">
                <div class="item">
                    <img src="images/bg43.png" alt="">
                    <div class="content">
                        <h3>WINE PRODUCTS</h3>
                        <p>"Choose what's right for you or for a gift to someone"</p>
                        <!-- <a href="#"><button class="btn">discover</button></a> -->
                    </div>
                </div>
            </div>
            </section>
            <section class="section category1" id="category">
              <!-- <p class="icon4"><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines">&nbsp;<i class="fas fa-wine-glass-alt"></i>&nbsp;</i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i></p> -->
              <div class="category-center1 container">
                <a href="/redproduct">
                  <div class="category-box1">
                    <img src="https://th.wine-now.asia/media/blog/5-type-of-wine/BLOG_5-wine_1.jpg" alt="">
                    <div class="content">
                      <h2>Shop For Red Wine</h2>
                    </div>
                  </div>
                </a>
                <a href="/allproducts">
                  <div class="category-box1">
                    <img src="https://images.unsplash.com/photo-1511795267602-0424436b99c5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTc4fHx3aW5lfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
                    <div class="content">
                      <h2>Shop For All Wine</h2>
                    </div>
                  </div>
                </a>
               <a href="/whiteproduct">
                <div class="category-box1">
                  <img src="https://images.unsplash.com/photo-1602860210970-19d0f8c8f48d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTZ8fHdoaXRlJTIwd2luZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
                  <div class="content">
                    <h2>Shop For White Wine</h2>
                  </div>
                </div>    
               </a> 
               <a href="/roseproduct">
                <div class="category-box1">
                  <img src="https://th.wine-now.asia/media/blog/5-type-of-wine/BLOG_5-wine_3.jpg" alt="">
                  <div class="content">
                    <h2>Shop For Rose Wine</h2>
                  </div>
                </div>  
               </a>
                <a href="/dessertproduct">
                  <div class="category-box1">
                    <img src="https://th.wine-now.asia/media/blog/5-type-of-wine/BLOG_5-wine_4.jpg" alt="">
                    <div class="content">
                      <h2>Shop For Dessert Wine</h2>
                    </div>
                  </div>
                </a>
               <a href="/sparklingproduct">
                <div class="category-box1">
                  <img src="https://th.wine-now.asia/media/blog/5-type-of-wine/BLOG_5-wine_5.jpg" alt="">
                  <div class="content">
                    <h2>Shop For Sparkling Wine</h2>
                  </div>
                </div>   
               </a>
              </div>
              <!-- <div class="category-center container category2">
                
              </div> -->
            </section>
        <br><br>
         
        <section class="new-arrival">
          <div class="arrival-heading">
            <div style="margin-bottom: -10px;" class="row">
              <div class="col2">
                <div class="titleallpr">
                  <strong>ALL Products</strong>
                </div>
                  
              </div>
              <div class="col2 sortty">
                <form action="/sort" method="POST">   
                  <select onChange="this.form.submit();" class="example" name="example">
                    <option value="" ><%= sortname %></option>
                    <option value="highprice" name="highprice">Sort by highest price</option>
                    <option value="lowprice" name="lowprice">Sort by lowest price</option>
                    <option value="A-Z" name="A-Z">Sort by A - Z</option>
                    <option value="newproduct" name="newproduct">Sort by new products</option>
                  </select>
                </form>   
                   
              </div>
              <div style="position: absolute; margin-top: 80px; margin-left: 76%; background-color: white;" class="">
                <button style="background-color: white; border: 1px black solid; padding: 1px 5px; border-radius: 2px;" data-modal-target="#modal">Filter <i style="font-size: 10px;" class="fas fa-filter"></i> </button>
                
              </div>
              
            </div>
           
         </div>
         <div style="margin-top: 0px; margin-bottom: 0px;" class="row">
          <% if(filterbrand){ %>
          <div style="margin-right: 5px;">
            <h5>Brands: <span style="color: gray;"> <%= filterbrand %></span> </h5>
          </div>
          <% } %>
          <% if(filtercategory){ %>
            <div style="margin-right: 5px;">
              <h5>Category: <span style="color: gray;"> <%= filtercategory %></span> </h5>
            </div>
          <% } %>
          <% if(filterprice){ %>
            <div style="margin-right: 5px;">
              <h5>Price: <span style="color: gray;"> <%= filterprice %></span> </h5>
            </div>
          <% } %>
          <% if(filteralcohol){ %>
              <div style="margin-right: 5px;">
                <h5>Alcohol: <span style="color: gray;"> <%= filteralcohol %></span> </h5>
              </div>
           <% } %>
           <% if(filterbrand || filtercategory || filterprice || filteralcohol){ %>
            <div>
              <a href="/clearfilter"><span class="clear">Clear</span></a>
            </div>
            <% } %>
        </div>
         
          <div class="product-container">
            <% let j=0;
            if(page == 1) { 
              j=0;
              if(product.length >= 24){
                n=24;
              }else{
                n = product.length;
              }         
            }else if(page == 2){
              j=24
              if(product.length >= 48){
                n=48
              }else{
                n = product.length     
              }         
            }else if(page == 3){
              j=48
              if(product.length >= 72){
                n=72
              }else{
                n = product.length     
              }    

            }
            %> 
            
            <% if(product) { %> 
              <!-- <div class="ui small stackable images "> -->
                 <% for(let i = j; i < n; i++){ %>
                  <form action="/oneproduct?id=<%= product[i]._id %>" method="GET">
                    <a href="/oneproduct?id=<%= product[i]._id %>">
                    <div class="product-box">
                      <div class="product-img">
                        <!-- <a href="" class="add-cart">
                          <i class="fas fa-shopping-cart"></i>
                        </a> -->
                        <img src="<%= product[i].coverImagePath %>" alt="" class="ui image" width="20%">
                      </div>
                      <% if(product[i].name.length > 32) { 
                        name2 = product[i].name.substring(0, 30) + '..';
                      }else{
                        name2 = product[i].name
                      } %> 

                    
                      <div class="product-details">       
                        <p class="product-name"><%= name2 %></p>
                        <span name="price" class="p-price">price : <%= product[i].price %> $</span>
                    </div>
                    
                   
                    </div>    
                    </a> 
                  </form> 
                  
                 <% } %>
             <!-- </div> -->
            <% } %>
       </div>
       <% if(!product[j]) { %>
        <p class="text-center">Coming soon</p>
       <% } %>
       <div class="page-btn">
          <% if(page != 1) { %> 
            <a style="color: black;" href="/backpage"><span>&#8592;</span></a>          
          <% } %> 
          <% if(page == 1) { %> 
            <a href="/page1"><span style="color: brown;">1</span></a>
          <% } %> 
          <% if(page != 1) { %> 
            <a href="/page1"><span style="color: black;">1</span></a>
          <% } %> 
          <% if(page == 2) { %> 
            <a href="/page2"><span style="color: brown;">2</span></a>
          <% } %> 
          <% if(page != 2) { %> 
            <a href="/page2"><span style="color: black;">2</span></a>
          <% } %> 
          <% if(page == 3) { %> 
            <a href="/page3"><span style="color: brown;">3</span></a>
          <% } %> 
          <% if(page != 3) { %> 
            <a href="/page3"><span style="color: black;">3</span></a>
          <% } %> 
          <!-- <% if(page == 4) { %> 
            <a href="/allproduct"><span style="color: brown;">4</span></a>
          <% } %> 
          <% if(page != 4) { %> 
            <a href="/allproduct"><span style="color: black;">4</span></a>
          <% } %>  -->
          <% if(page != 3) { %> 
            <a style="color: black;" href="/nextpage"><span>&#8594;</span></a>
          <% } %> 
          
         

       </div>
        </section>

      </main>
    

    <footer id="footer" class="section footer">
        <div class="container">
          <div class="footer-container">
            <div class="footer-center">
              <h3>EXTRAS</h3>
              <a href="#">Brands</a>
              <a href="#">Gift Certificates</a>
              <a href="#">Specials</a>
              <a href="#">Site Map</a>
            </div>
            <div class="footer-center">
              <h3>INFORMATION</h3>
              <a href="#">About Us</a>
              <a href="#">Privacy Policy</a>
              <a href="#">Terms & Conditions</a>
              <a href="#">Contact Us</a>
              <a href="#">Site Map</a>
            </div>
            <div class="footer-center">
              <h3>MY PROFILE</h3>
              <a href="#">FB : Sedtawut chalothornnarumit</a>
              <a href="#">IG : Aoystwr</a>
              <a href="#">Twitter : Aoystwr</a>
              <a href="#">LineID : aoybcc</a>
            </div>
            <div class="footer-center">
              <h3>CONTACT US</h3>
              <div>
                <span>
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                123 Aoy House, Aoy street, Bangkok
              </div>
              <div>
                <span>
                  <i class="far fa-envelope"></i>
                </span>
                aoy35085@hotmail.com
              </div>
              <div>
                <span>
                  <i class="fas fa-phone"></i>
                </span>
                095-291-1766
              </div>
              <div>
                <span>
                  <i class="far fa-paper-plane"></i>
                </span>
                Aoy City, Bangkok
              </div>
            </div>
          </div>
        </div>
        </div>
    </footer>
      <div class="modal" id="modal">
        <div class="modal-header">
          <div class="title"><i class="fas fa-sort-amount-down-alt"></i>&nbsp; Advance search </div>
          <button data-close-button class="close-button">&times;</button>
        </div>
          <form action="/advance" method="POST">
            <div class="row3 advance">
              <div class="column2">
                <p class="title" style="margin-left: 20px; margin-top: 15px; margin-bottom: 7px;">Brands</p>
              <div style="margin-left: 20px; font-size: 12px;">
                <input type="checkbox" id="All" name="All" value="All">
                <label for="All"> All</label><br>
                <input type="checkbox" id="Artero" name="brand" value="Artero">
                <label for="Artero"> Artero</label><br>
                <input type="checkbox" id="Aliaga" name="brand" value="Aliaga">
                <label for="Aliaga"> Aliaga</label><br>
                <input type="checkbox" id="Astobiza" name="brand" value="Astobiza">
                <label for="Astobiza"> Astobiza</label><br>
                <input type="checkbox" id="Altos de Rioja" name="brand" value="Altos de Rioja">
                <label for="Altos de Rioja"> Altos de Rioja</label><br>
                <input type="checkbox" id="Bella Conchi" name="brand" value="Bella Conchi">
                <label for="Bella Conchi"> Bella Conchi</label><br>
                <input type="checkbox" id="Bai Gorri" name="brand" value="Bai Gorri">
                <label for="Bai Gorri"> Bai Gorri</label><br>
                <input type="checkbox" id="Contador" name="brand" value="Contador">
                <label for="Contador"> Contador</label><br>
                <input type="checkbox" id="Cuatromil Cepas" name="brand" value="Cuatromil Cepas">
                <label for="Cuatromil Cepas"> Cuatromil Cepas</label><br>
                <input type="checkbox" id="Lar de Paula" name="brand" value="Lar de Paula">
                <label for="Lar de Paula"> Lar de Paula</label><br>
                <input type="checkbox" id="VIÇENZA" name="brand" value="VIÇENZA">
                <label for="VIÇENZA"> VIÇENZA</label><br>              
                <input type="checkbox" id="Valduero" name="brand" value="Valduero">
                <label for="Valduero"> Valduero</label><br>
                <input type="checkbox" id="Valtravieso" name="brand" value="Valtravieso">
                <label for="Valtravieso"> Valtravieso</label><br>
                <input type="checkbox" id="Vina Pedrosa" name="brand" value="Vina Pedrosa">
                <label for="Vina Pedrosa"> Vina Pedrosao</label><br>
                <input type="checkbox" id="Sauternes" name="brand" value="Sauternes">
                <label for="Sauternes"> Sauternes</label><br>
                
                <br>             
              </div>   
            </div>         
          <div class="column2">
            <p class="title" style="margin-left: 10px; margin-top: 15px; margin-bottom: 10px;">Category</p>
            <div style="margin-left: 20px; margin-bottom: 25px; font-size: 12px;">
              <input type="checkbox" id="All Wine" name="category" value="All Wine">
              <label for="All Wine"> All Wine</label><br>
              <input type="checkbox" id="Red Wine" name="category" value="Red Wine">
              <label for="Red Wine"> Red Wine</label><br>
              <input type="checkbox" id="White Wine" name="category" value="White Wine">
              <label for="White Wine"> White Wine</label><br>
              <input type="checkbox" id="Rose Wine" name="category" value="Rose Wine">
              <label for="Rose Wine"> Rose Wine</label><br>  
              <input type="checkbox" id="Dessert Wine" name="category" value="Dessert Wine">
              <label for="Rose Wine"> Dessert Wine</label><br> 
              <input type="checkbox" id="Sparkling Wine" name="category" value="Sparkling Wine">
              <label for="Rose Wine"> Sparkling Wine</label><br>          
            </div>
            <!-- <p class="title" style="margin-left: 10px; margin-top: -5px; margin-bottom: 10px;">Taste</p>
            <div style="margin-left: 20px; margin-bottom: 25px; font-size: 12px;">   
              
              <select style="margin-right: 5px; font-size: 10px; " class="form-control" id="sweettaste" name="sweettaste">
                <option value="-">-</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>              
              </select>
              <label for="sweettaste"> sweet taste</label><br>               
              <select style="margin-right: 5px;  font-size: 10px; margin-top: 7px;" class="form-control" id="aciditytaste" name="aciditytaste">
                <option value="-">-</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>            
              </select>
              <label for="aciditytaste"> acidity taste</label><br>         
              <select style="margin-right: 5px;  font-size: 10px; margin-top: 7px;" class="form-control" id="bodytaste" name="bodytaste">
                <option value="-">-</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>            
              </select><label for="bodytaste"> body taste</label><br>      
              <select style="margin-right: 5px;  font-size: 10px; margin-top: 7px;" class="form-control" id="finishtaste" name="finishtaste">
                <option value="-">-</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>       
              </select>
              <label for="finishtaste"> finish taste</label><br>         
            </div> -->
            <div>
              <p style="margin-left: 16px; margin-top: -5px; margin-bottom: 2px;">Price</p>
              <input style="font-size: 13px; width: 60px; color: black; margin-left: 7%;" name="price1" type = "number" placeholder="$ 0.00">
              <span style="font-size: 13px;"> &nbsp;&nbsp; to&nbsp;</span>
              <input style="font-size: 13px; width: 60px; color: black; margin-bottom: 10px; margin-left: 7%;" name="price2" type = "number" placeholder="$ 0.00">
              <br>
             </div>
             <div>
              <p style="margin-left: 16px; margin-top: 5px; margin-bottom: 2px;">Alcohol</p>
              <input style="font-size: 13px; width: 60px; color: black; margin-left: 7%;" name="alcohol1" type = "number" placeholder="0.00">
              <span style="font-size: 13px;"> &nbsp;&nbsp; to&nbsp;</span>
              <input style="font-size: 13px; width: 60px; color: black; margin-bottom: 10px; margin-left: 7%;" name="alcohol2" type = "number" placeholder="0.00">
              <br>
             </div>
             <button style="margin-bottom: 30px; margin-left: 24%; margin-top: 20px; padding: 5px 20px;" type = "submit" class = "btn4 shop-item-button">
              <span style="color: rgb(88, 87, 87);">Search </span>
          </button>
          </div>
          
           
          </form>
        </div>
      </div>
      <div id="overlay"></div>

    
    
</body>
</html>