<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/images/logo12.jpeg" type="image/x-icon" />
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
       <script
          src="https://kit.fontawesome.com/64d58efce2.js"
          crossorigin="anonymous" defer
        ></script>
        <link rel="stylesheet" href="/css/checkout.css">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js" defer></script>
        <script src="/js/product.js" defer></script>
        <script src="/js/slider.js" defer></script>
        <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js" defer></script>
    
        <script src="/js/cart.js" defer></script>
        <title>Checkout</title>
</head>
<body style="background: #F2F2EF;">

  <nav class="navi"> 
    <!--menu-bar----------------------------------------->
    <div class="navigation">
      <!--logo------------>
      <a href="/" class="logo"><img src="/images/logo12.png"></a>
      <!--menu-icon------------->
      <div class="toggle"></div>
      <!--menu----------------->
      <ul class="menu">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/allproduct" class="nav-link">Store</a>
        </li>
      </ul>
      <!--right-menu----------->
      <div class="right-menu">
       
        <a href=""><%= name %></a>
        <a href="/account" class="user">
          <i class="far fa-user"></i>
        </a>
        <a href="javascript:void(0);" class="search">
         <i class="fas fa-search"></i>
       </a>
        <a href="#">
          <i class="fas fa-shopping-cart">
            <span class="num-cart-product"><%= amountcart %></span>
          </i>
        </a>
      </div>
      </div>
    </nav>
    <!--search-bar----------------------------------->
   
  <form action="/search" method="POST">
    <div class="search-bar">   
      <!--search-input------->
      <div class="search-input">
      <input type="text" placeholder="Search For Product" name="productsearch" />
      <button class="btnsearch" type="submit">
        <i class="fas fa-search"></i>
      </button>
      <!--cancel-btn--->
      <a href="javascript:void(0);" class="search-cancel">
        <i class="fas fa-times"></i>
      </a>
    </div>
    </div>
  </form>
  

  <form action="/cart/buy?id=<%= infouser.creditcard[0]._id %>" method="POST">
  <div style="margin-top: 50px; " class="container">
    <a style="margin-bottom: 2%;" href="/totalproduct" class="btn btn-info">Back</a>
    <div class="row" style="box-shadow: 0 5px 5px 0px rgba(124, 123, 123, 0.4); background: white; padding: 20px 20px; border-left: white 1px solid; border-right: white 1px solid; border-bottom: white 1px solid; border-top: white 2px dashed; margin-bottom: 30px;">
      <img style="width: 240px; height: 50px;" src="/images/logo12.png" alt="">
  </div>
    <div style="box-shadow: 0 5px 5px 0px rgba(124, 123, 123, 0.4); background: white; padding: 20px 20px; border-left: white 1px solid; border-right: white 1px solid; border-bottom: white 1px solid; border-top: gray 2px dashed; margin-bottom: 20px;">
        <h2 class="mb-3"><i class="fas fa-map-marker-alt"></i>&nbsp; location</h2>
        <div class="row my-3 gy-3">
            <div class="col-md-12">
                <label style="font-size: 12px;" for="" class="form-label">Address</label>
                <textarea style="font-size: 13px;" class="form-control" name="address" id=""  cols="30" rows="3"><%= infouser.address %></textarea>
                
                <!-- <small style="font-size: 10px;" class="text-muted">Fullname as displayed on card.</small> -->
            </div>
            <div class="col-md-12">
                <label style="font-size: 12px;" for="" class="form-label">Phone</label>
                <input style="font-size: 13px;" type="text" class="form-control" name="phone" id="" required value="<%= infouser.phone %>">
                <!-- <small style="font-size: 10px;" class="text-muted">Fullname as displayed on card.</small> -->
            </div>
        </div>
    </div>
    <div style="box-shadow: 0 5px 5px 0px rgba(124, 123, 123, 0.4);  background: white; padding: 20px 20px; border: white 1px solid; margin-bottom: 0px;">
        <h2 class="mb-3"><i class="fas fa-shopping-bag"></i>&nbsp; Orders</h2>

        <section class="product-area mt-4">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Item Description</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Subtotal</td>
                    </tr>
                </thead>
                <tbody>
                    <% infocart.forEach(m => { %> 
                    <tr>
                        <td>
                            <div class="media">
                                <img class="mr-3 img-fluid" src="<%= m.coverImagePath %>">
                                <div class="media-body">
                                    <p class="mt-0 title"><%= m.productname %></p>
                                    <p class="title3"><%= m.productcategory %></p>
                                </div>
                            </div>
                        </td>
                        <td><%= m.productprice %> $</td>
                        <td><%= m.productquantity %></td>
                        <td><%= (m.productprice*m.productquantity).toFixed(2) %> $</td>
                    </tr>
                    <% }) %> 
                </tbody>
            </table>
        </section> 
    </div>
    <div style="padding: 20px 20px; border: gray 1px dashed; margin-bottom: 20px; margin-top: 3px; background: #FEFEFA;">
        <div class="row my-3 gy-3">
            <div style="margin-left: 825px;">
                <h4>Delivery : <span style="font-size: 15px; margin-left: 30px;" > &nbsp; <%= tax %> $</span></h4>
            </div>    
            <div style="margin-left: 770px; margin-top: 10px;">
                <h4>Total order amount : <span style="font-size: 20px; color: rgb(182, 75, 75);"> &nbsp; <%= total %> $</span></h4>
            </div>
        </div>
    </div>
    <div style="box-shadow: 0 5px 5px 0px rgba(124, 123, 123, 0.4); background: white; padding: 20px 20px; border-right: rgb(179, 178, 178) 1px solid; border-left: rgb(179, 178, 178) 1px solid; border-top: rgb(179, 178, 178) 1px solid; ">
        <h2 style="margin-bottom: 10px;" class="mb-3"><i class="far fa-credit-card"></i>&nbsp; Payments</h2>
        <!-- <p style="color: gray;"><a style="margin-right: 10px;" href="/creditcard"><button style="font-size: 10px; background: black; color: white; padding: 2px 2px;">Edit</button></a> </p> -->
        <div class="row my-3 gy-3">
            <div class="col-md-6">
                <label style="font-size: 12px;" for="" class="form-label">Name on card</label>
                <input style="font-size: 16px;" type="text" class="form-control" name="cardname" id="" required value="<%= infouser.creditcard[0].NameCard %>">
                <small style="font-size: 10px;" class="text-muted">Fullname as displayed on card.</small>
                <div class="invalid-feedback">Name on card is required.</div>
            </div>
            <div class="col-md-6">
                <label style="font-size: 12px;"  for="" class="form-label">Credit card number</label>
                <input style="font-size: 16px;" type="text" class="form-control" name="cardnumber" id="" value="<%= infouser.creditcard[0].NumberCard %>" required>
                <small style="font-size: 10px;" class="text-muted">Number as displayed on card.</small>
                <div class="invalid-feedback">Credit card number is required.</div>
            </div>
            <div class="col-md-3">
                <label style="font-size: 12px;" for="" class="form-label">Valid date</label>
                <input style="font-size: 16px;" type="text" class="form-control" name="cardvalid" id="" value="<%= infouser.creditcard[0].ValidDate %>" required>
                <div class="invalid-feedback">Expiration is required.</div>
            </div>
            <div class="col-md-3">
                <label style="font-size: 12px;" for="" class="form-label">CVV</label>
                <input style="font-size: 16px;" type="text" class="form-control" name="cvv" id="" value="<%= infouser.creditcard[0].CVV %>" required>
                <div class="invalid-feedback">CVV is required.</div>
            </div>
        </div>
    </div>
    <div style="background: white; padding: 20px 20px; border-left: gray 1px dashed; border-right: gray 1px dashed; border-bottom: gray 1px dashed; margin-bottom: 80px;">
        <div class="row my-3 gy-3">
            <div style="margin-left: 825px;">
                <h4>Delivery : <span style="font-size: 15px; margin-left: 30px;" > &nbsp; <%= tax %> $</span></h4>
            </div>    
            <div style="margin-left: 770px; margin-top: 10px;">
                <h4>Total order amount : <span style="font-size: 20px; color: rgb(182, 75, 75);"> &nbsp; <%= total %> $</span></h4>
            </div>
            <div style="margin-left: 830px; margin-top: 20px; ">
                <button class="purchase" type="submit" style="padding: 5px 20px; background: black; color: white;">purchaes</button>
            </div>
        </div>
    </div>
  </div>
</form>


  

  <footer id="footer" class="section footer">
    <div class="container">
      <div class="footer-container">
        <div class="footer-center">
          <h3>EXTRAS</h3>
          <a href="#">Brands</a>
          <a href="#">Gift Certificates</a>
          <a href="#">Specials</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-center">
          <h3>INFORMATION</h3>
          <a href="#">About Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
          <a href="#">Contact Us</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-center">
          <h3>MY PROFILE</h3>
          <a href="#">FB : Sedtawut chalothornnarumit</a>
          <a href="#">IG : Aoystwr</a>
          <a href="#">Twitter : Aoystwr</a>
          <a href="#">LineID : aoybcc</a>
        </div>
        <div class="footer-center">
          <h3>CONTACT US</h3>
          <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
            123 Aoy House, Aoy street, Bangkok
          </div>
          <div>
            <span>
              <i class="far fa-envelope"></i>
            </span>
            aoy35085@hotmail.com
          </div>
          <div>
            <span>
              <i class="fas fa-phone"></i>
            </span>
            095-291-1766
          </div>
          <div>
            <span>
              <i class="far fa-paper-plane"></i>
            </span>
            Aoy City, Bangkok
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>

  <div style="top: 26%; border-radius: 25px; border: white ; padding: 20px 10px;" class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
        <form method="POST" action="/cart/firstaddadress">
            <div class="modal-header">
                <h2 class="modal-title"><i class="fas fa-map-marker-alt"></i>&nbsp; location </h2>
                <a href="/totalproduct">
                    <button style="margin-top: -2px;" type="button" class="close">
                        <span>&times;</span>
                    </button>
                </a>
            </div>
            <div class="modal-body">
                 <p style="margin-left: 0px; font-size: 10px; margin-top: 10px; margin-bottom: 10px;">
                    Please add your address before placing an order.
                  </p>
                  <textarea style="margin-top: 0px; margin-left: 0px; padding: 2px 5px; font-size: 12px; border: rgb(211, 209, 209) 1px solid; border-radius: 3px;" name="address" id="" cols="74" rows="2" placeholder="Address" required></textarea> 
                  <div class="title" style="margin-bottom: 10px; margin-top: 5px; font-size: 13px;"><i class="fas fa-phone"></i>&nbsp; Phone  </div>
                  <textarea style="padding: 2px 5px; margin-bottom: 10px; font-size: 12px; width: 240px; border: rgb(211, 209, 209) 1px solid;  border-radius: 3px;" name="phone" id="" cols="74" rows="1" placeholder="Phone" required></textarea>
            </div>
            <div style="margin-bottom: 5px;" class="modal-footer">
                <button type="submit" class="btn btn-secondary" >Confirm</button>
            </div>
        </form>
        </div>
    </div>
</div>
  
  
 
    <!-- <div class="modal" id="modal">
      <div class="modal-header">
        <div class="title"><i class="fas fa-map-marker-alt"></i>&nbsp; location </div>
        <a href="/"><button data-close-button class="close-button">&times;</button></a>
      </div>
      <p style="margin-left: 15px; font-size: 10px;">
        Please add your address before placing an order.
      </p>
      <form method="POST" action="/addaddress">
          <textarea style="margin-top: 5px; margin-left: 13px; padding: 2px 5px;" name="address" id="" cols="68" rows="3" placeholder="Address" required></textarea>
          <div class="title" style="margin-bottom: 5px; margin-left: 15px; margin-top: 5px;"><i class="fas fa-phone"></i>&nbsp; Phone  </div>
          <textarea style="margin-top: 5px; margin-left: 13px; padding: 2px 5px; margin-bottom: 10px;" name="phone" id="" cols="68" rows="2" placeholder="Phone" required></textarea>
          <div style="margin-bottom: 20px; margin-top: 0px; margin-left: 500px;" class="row1">
            <div class="col2">
              <button type="submit" class="confirm">CONFIRM</button>
            </div>
          </div>
      </form>
    </div>
    <div id="overlay"></div> -->
  
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <% if(infouser.address == "" || infouser.phone == "") { %>
     <script type="text/javascript">
        $(document).ready(function (){
            setTimeout(function(){
                $("#myModal").modal('show');
            },100);
        })
    </script>
      <% } %>
  
    
</body>
</html>