<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/images/logo12.jpeg" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js" defer></script>

  <script src="/js/product.js" defer></script>
  <script src="/js/slider.js" defer></script>
  <script src="/js/index.js" defer></script>
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js" defer></script>
  <title>Laespela</title>
</head>

<body>
  <nav class="navi"> 
    <!--menu-bar----------------------------------------->
    <div class="navigation">
      <!--logo------------>
      <a href="/" class="logo"><img src="images/logo12.png"></a>
      <!--menu-icon------------->
      <div class="toggle"></div>
      <!--menu----------------->
      <% if(name == '') { %> 
        <ul style="margin-left: -40px;" class="menu">
          <li class="nav-item">
            <a href="#home" class="nav-link scroll-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/allproducts" class="nav-link">Store</a>
          </li>
          <li class="nav-item">
            <a href="#category" class="nav-link scroll-link">Category</a>
          </li>
          <li class="nav-item">
            <a href="#blog" class="nav-link scroll-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="#shop" class="nav-link scroll-link">Brands</a>
          </li>
          
          <!-- <li class="nav-item">
            <a href="/totalproduct" class="nav-link">Cart (<span class="amountcart"><%= amountcart %></span>)</a>
          </li> -->
        </ul>
        <%  }else{ %> 
          <ul style="margin-left: 30px;" class="menu">
            <li class="nav-item">
              <a href="#home" class="nav-link scroll-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/allproducts" class="nav-link">Store</a>
            </li>
            <li class="nav-item">
              <a href="#category" class="nav-link scroll-link">Category</a>
            </li>
            <li class="nav-item">
              <a href="#blog" class="nav-link scroll-link">Blog</a>
            </li>
            <li class="nav-item">
              <a href="#shop" class="nav-link scroll-link">Brands</a>
            </li>
            
            <!-- <li class="nav-item">
              <a href="/totalproduct" class="nav-link">Cart (<span class="amountcart"><%= amountcart %></span>)</a>
            </li> -->
          </ul>
        
        <%  } %> 
     
      <!--right-menu----------->
      
      <div class="right-menu">
        <% if(name != '') { %> 
          <% if(infouser.img == null) { %> 
            <a class="user" style="margin-right: -160px; margin-left: 30px; font-size: 13px;" href=""><%= name %></a>
            <a href="/account" class="user">
            <img class="avatar" src="/images/wine2.png" alt="">
            </a>
          <% }else{ %> 
            <a class="user" style="margin-right: -160px; margin-left: 40px; font-size: 13px;" href=""><%= name %></a>
            <a href="/account" class="user">
            <img class="avatar" src="<%= infouser.coverImagePath %>" alt="">
            </a>
          <% } %> 
        <% }else{ %> 
        <a style="margin-left: 50px;" href="/account" class="user">
          <i class="far fa-user"></i>
        </a>
        <% }%> 
        <a href="javascript:void(0);" class="search">
         <i class="fas fa-search"></i>
       </a>
        <a href="/totalproduct">
          <i class="fas fa-shopping-cart">
            <span class="num-cart-product"><%= amountcart %></span>
          </i>
        </a>
      </div>
      </div>
    </nav>
    <!--search-bar----------------------------------->
  <form action="/search" method="POST">
    <div class="search-bar">
       
      <!--search-input------->
      <div class="search-input">
      <input type="text" placeholder="Search For Product By Name" name="productsearch" />
      <button class="btnsearch" type="submit">
        <i class="fas fa-search"></i>
      </button>
      <!--cancel-btn--->
      <a href="javascript:void(0);" class="search-cancel">
        <i class="fas fa-times"></i>
      </a>
    
    </div>
    </div>
  </form>
  

  <!-- Main -->
  <main>
    <!-- Hero -->
    <section class="hero">
      <div class="glide" id="">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides glide__hero">
            <li class="glide__slide">
                <section class="home" id="home">
                  <div class="home-slider owl-carousel">                
                      <div class="item">
                          <img src="images/bg39.jpeg" alt="">
                          <div class="content">
                              <h3>WINE</h3>
                              <p>"You can choose to drink it or use it to cook. Our wines are imported from every country."</p>
                              
                              <!-- <a href="#"><button class="btn">discover</button></a> -->
                          </div>
                      </div>
                  </div>                
                  </section>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Category -->
    <section class="section category" id="category">
      <h2 class="title">Category </h2>
      <!-- <p class="icon4"><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines">&nbsp;<i class="fas fa-wine-glass-alt"></i>&nbsp;</i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i></p> -->
      <div class="category-center container">
        <div class="category-box">
          <img src="https://th.wine-now.asia/media/blog/5-type-of-wine/BLOG_5-wine_1.jpg" alt="">
          <div class="content">
            <h2>Shop For Red Wine</h2>
            <span><%= countredwine %> &nbsp; Products</span>
            <a href="/redproduct">shop now</a>
          </div>
        </div>
        <div class="category-box">
          <img src="https://images.unsplash.com/photo-1511795267602-0424436b99c5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTc4fHx3aW5lfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
          <div class="content">
            <h2>Shop For All Wine</h2>
            <span><%= countallwine %> &nbsp; Products</span>
            <a href="/allproducts">shop now</a>
          </div>
        </div>
        <div class="category-box">
          <img src="https://images.unsplash.com/photo-1602860210970-19d0f8c8f48d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTZ8fHdoaXRlJTIwd2luZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
          <div class="content">
            <h2>Shop For White Wine</h2>
            <span><%= countwhitewine %> &nbsp; Products</span>
            <a href="/whiteproduct">shop now</a>
          </div>
        </div>     
        <div class="category-box">
          <img src="https://th.wine-now.asia/media/blog/5-type-of-wine/BLOG_5-wine_3.jpg" alt="">
          <div class="content">
            <h2>Shop For Rose Wine</h2>
            <span><%= countrosewine %> &nbsp; Products</span>
            <a href="/roseproduct">shop now</a>
          </div>
        </div>  
        <div class="category-box">
          <img src="https://th.wine-now.asia/media/blog/5-type-of-wine/BLOG_5-wine_4.jpg" alt="">
          <div class="content">
            <h2>Shop For Dessert Wine</h2>
            <span><%= countdessertwine %> &nbsp; Products</span>
            <a href="/dessertproduct">shop now</a>
          </div>
        </div>
        <div class="category-box">
          <img src="https://th.wine-now.asia/media/blog/5-type-of-wine/BLOG_5-wine_5.jpg" alt="">
          <div class="content">
            <h2>Shop For Sparkling Wine</h2>
            <span><%= countsparklingwine %> &nbsp; Products</span>
            <a href="/sparklingproduct">shop now</a>
          </div>
        </div>   
      </div>
      <!-- <div class="category-center container category2">
        
      </div> -->
    </section>

    <!-- story2 -->
    <section class="story2">
      <div class="row">
        <div class="column">
          <img class="imgstory3" src="https://images.unsplash.com/photo-1566213911111-2e52480e8e7e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt=""> 
        </div>
        <div class="column">
          <img class="imgstory4" src="https://images.unsplash.com/photo-1582004213095-479fb6950366?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt=""> 
        </div>
        <div class="column">
         <div class="infostory2">
          <h2>Shop Wine</h2>
          <h6>Detail</h6>
          <p style="font-size: 13px; margin-left: 40px;" class="icon"><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i> <i class="fas fa-wine-glass-alt"></i> <i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i></p>
          <div style="margin-top: 10px;">
            <p class="info2"> &nbsp;&nbsp; Our shop wines are available in many styles. You can choose to drink it or use it to cook. Our wines are imported from every country. Ensuring delicious, fragrant, safe for every brand, every bottle</p>
          </div>
         </div>
        </div>
      </div>

    </section>

    <!-- food -->

    <section class="section food">
      <h2 class="title">Wine with Foods</h2>
      <p class="icon3 iconres"><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines">&nbsp;<i class="fas fa-wine-glass-alt"></i>&nbsp;</i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i></p>
      <div class="row containerfood">
        <div class="col-3">
          <img src="https://image.makewebeasy.net/makeweb/m_750x0/UyayqGCPN/05_OurMenu/Seafood_Paella_bodegaswine.png?v=202012190947" alt="">
          <h2 class="title">Seafood Paella</h2>
        </div>
        <div class="col-3">
          <img  src="https://image.makewebeasy.net/makeweb/m_750x0/UyayqGCPN/05_OurMenu/Ib%C3%A9rico_Pork_bodegaswine.png?v=202012190947" alt="">
          <h2 class="title">Ibérico Pork</h2>
        </div>
        <div class="col-3 food3">
          <img  src="https://image.makewebeasy.net/makeweb/m_750x0/UyayqGCPN/05_OurMenu/Cuttlefish_Chili_Garlic_bodegaswine.png?v=202012190947" alt="">
          <h2 class="title">Cuttlefish Chili Garlic</h2>
        </div>
        <div class="col-3 food4">
          <img src="https://image.makewebeasy.net/makeweb/m_750x0/UyayqGCPN/05_OurMenu/Wild_scallop_cold_pasta_bodegaswine.png?v=202012190947" alt="">
          <h2 class="title">Wild Scallop Cold Pasta</h2>
        </div>
      </div>

    </section>

    <section class="story3">
      <div class="column">
        <div class="infostory3">
         <h2>Our Story</h2>
         <h6>about us</h6>
         <p style="font-size: 12px; margin-left: 62px;" class="icon"><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i> <i class="fas fa-wine-glass-alt"></i> <i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i></p>
         <div style="margin-top: 10px;">
           <p class="info3"> &nbsp;&nbsp; Wine originated in the 19th century when world famous scientist Louise Pasteur discovered that "yeast" or micro-mold. It is a substitute for sugar in fruit to alcohol.By using a rather complex reaction Fermentation of grape juice is the natural way to turn wine  into wine. The yeast that is naturally </p>
         </div>
        </div>
       </div>
      <div class="row">
        <div class="column">
          <img class="imgstory5" src="https://images.unsplash.com/photo-1553361371-9b22f78e8b1d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cmVkJTIwd2luZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt=""> 
        </div>
        <div class="column">
          <img class="imgstory6" src="https://images.unsplash.com/photo-1561461056-77634126673a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVkJTIwd2luZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt=""> 
        </div>
        
      </div>

    </section>

    <!-- blog -->
    <section class="section blog" id="blog">
      
      <h2 class="title1">Blogs </h2>
      <p style="font-size: 11px; margin-left: 570px;" class="icon6 iconress"><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines">&nbsp; <i class="fas fa-wine-glass-alt"></i> &nbsp;</i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i><i class="fas fa-grip-lines"></i></p>
      <div class="blog-container container">
        <div class="page-content">
          <div class="card">
            <div class="content">
              <h2 class="title">Château Latour 2013 released for first time</h2>
              <p class="copy">Latour 2013 was released alongside the estate’s Les Forts de Latour 2015 vintage.
                Anson rated Les Forts 2015 at 94 points, praising its floral aromatics and ‘gorgeous exuberance’ on the nose.</p>  
            </div>
          </div>
          <div class="card">
            <div class="content">
              <h2 class="title">Wine ‘diversity scholarships’ launched by Gérard Basset foundatio</h2>
              <p class="copy">New scholarships to help improve diversity among Masters of Wine and Master Sommeliers, have been announced .</p>          
            </div>
          </div>
          <div class="card">
            <div class="content">
              <h2 class="title">US suspends Scotch whisky tariffs in UK deal</h2>
              <p class="copy">Scotch whisky fans in the US have been given a reason to celebrate after the Biden administration said it was suspending extra import tariffs imposed on UK goods within the wider trade dispute over Boeing.</p>       
            </div>
          </div>
          <div class="card">
            <div class="content">
              <h2 class="title">Tasting top La Conseillante and Figeac vintages</h2>
              <p class="copy">Jane Anson tastes La Conseillante wines back to 2005 plus several vintages of Château Figeac, and reports on recent developments at two Right Bank powerhouses.</p>
       
            </div>
          </div>
      </div>    
      </div>
    </section>

   

    <section class="section shop" id="shop">
      <h2 class="title">Brands</h2>
      <div class="section brands container">
        <div class="glide" id="glide2">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <li class="glide__slide">
                <img src="./images/brand1.png.crdownload" alt="">
              </li>
              <li class="glide__slide">
                <img src="./images/brand8.png" alt="">
              </li>
              <li class="glide__slide">
                <img src="./images/brand3.png" alt="">
              </li>
              <li class="glide__slide">
                <img src="./images/brand4.webp" alt="">
              </li>
              <li class="glide__slide">
                <img src="./images/brand5.png" cla alt="">
              </li>
              <li class="glide__slide">
                <img src="./images/brand6.png.crdownload" alt="">
              </li>
            </ul>
          </div>
        </div>
      </div>
     </section>

   

    
  </main>

  <!-- Footer -->
  <footer id="footer" class="section footer">
    <div class="container">
      <div class="footer-container">
        <div class="footer-center">
          <h3>EXTRAS</h3>
          <a href="#">Brands</a>
          <a href="#">Gift Certificates</a>
          <a href="#">Specials</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-center">
          <h3>INFORMATION</h3>
          <a href="#">About Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
          <a href="#">Contact Us</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-center">
          <h3>MY PROFILE</h3>
          <a href="#">FB : Sedtawut chalothornnarumit</a>
          <a href="#">IG : Aoystwr</a>
          <a href="#">Twitter : Aoystwr</a>
          <a href="#">LineID : aoybcc</a>
        </div>
        <div class="footer-center">
          <h3>CONTACT US</h3>
          <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
            123 Aoy House, Aoy street, Bangkok
          </div>
          <div>
            <span>
              <i class="far fa-envelope"></i>
            </span>
            aoy35085@hotmail.com
          </div>
          <div>
            <span>
              <i class="fas fa-phone"></i>
            </span>
            095-291-1766
          </div>
          <div>
            <span>
              <i class="far fa-paper-plane"></i>
            </span>
            Aoy City, Bangkok
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>
 
</body>

</html>