<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/logo12.jpeg" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Custom Style -->
    <link rel="stylesheet" href="/css/purchase.css">
    <script src="/js/product.js" defer></script>
  <script src="/js/slider.js" defer></script>
  <script src="/js/index.js" defer></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js" defer></script>
    <title>Total</title>
</head>
<body>
    <div class="homey">
         <a href="/allproduct"><i class="fas fa-store"></i> Back to Store </a>
    </div>

  <div class="my-5 page" size="A4">
    <div class="p-5">
        <section class="top-content bb d-flex justify-content-between">
            <div class="logo">
                <img src="/images/logo12.png" alt="" class="img-fluid">
            </div>
            <div class="top-left">
               
                <div style="margin-top: 10px;" class="position-relative">
                    <p>Invoice No. <span><%= invoiceid %></span></p>
                </div>
            </div>
        </section>

        <section class="store-user mt-5">
            <div class="col-10">
                <div class="row bb pb-3">
                    <div class="col-7">
                        <p>Office,</p>
                        <h2>LAESPERA</h2>
                        <p class="address"> 123 Aoy House, <br> Aoy street 1234, <br> Bangkok 10100 </p>  
                        <div class="txn mt-2">Tel: 012-3456-789</div>
                    </div>
                    <div class="col-5">
                        <p>Customer,</p>
                        <h2><%= name %></h2>
                        <p class="address"><%= adduser %></p>
                        <div class="txn mt-2">Tel: <%= phoneuser %></div>
                    </div>
                </div>
                <div class="row extra-info pt-3">
                    <div class="col-7">
                        <p>Payment Method: <span>Credit Cards</span></p>
                        <!-- <p>Order Number: <span>#868</span></p> -->
                    </div>
                    <div class="col-5">
                        <p>Purchase Date: <span><%= date %></span></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-area mt-4">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Item Description</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody>
                    <% if(purchase) { %> 
                    <% purchase.forEach(m => { %>
                    <tr>
                        <td>
                            <div class="media">
                                <!-- <img class="mr-3 img-fluid" src="<%= m.coverImagePath %>" alt="Product 01"> -->
                                <div class="media-body">
                                    <p class="mt-0 title"><%= m.productname %></p>
                                    <p class="title3"><%= m.productcategory %></p>
                                    
                                </div>
                            </div>
                        </td>
                        <td>$ <%= m.productprice %></td>
                        <td><%= m.productquantity %></td>
                        <td>$ <%= ((m.productquantity)*(m.productprice)).toFixed(2) %></td>
                    </tr>
                    <% }) %>
                    <% } %>
                </tbody>
            </table>
        </section>

        <section class="balance-info">
            <div class="row">
                <div class="col-8">
                   
                </div>
                <div class="col-4">
                    <table class="table border-0 table-hover">
                        <tr>
                            <td>Sub Total:</td>
                            <td>$ <%= subtotal %></td>
                        </tr>
                        <tr>
                            <td>Delivery :</td>
                            <td class="tax">$ <%= tax %></td>
                        </tr>
                        <tfoot>
                            <tr>
                                <td>Total:</td>
                                <td>$ <%= total %></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- Signature -->
                    <!-- <div class="col-12">
                        <img src="images/signature.png" class="img-fluid" alt="">
                        <p class="text-center m-0"> Guarantor </p>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- Cart BG -->
        <img src="cart.jpg" class="img-fluid cart-bg" alt="">
        <footer>
            <div class="social pt-3">
                
                <span style="font-size: 12px;">Thank you for your business! </span>
            </div>
        </footer>
    </div>
</div>




</body>
 
</html>