<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
 <link rel="shortcut icon" href="/images/logo12.jpeg" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/account.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js" defer></script>

  <script src="/js/product.js" defer></script>
  <script src="/js/slider.js" defer></script>
  <script src="/js/index.js" defer></script>
    <!-- add to document <head> -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />

    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
     <!-- add before </body> -->
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            FilePond.registerPlugin(
                FilePondPluginImageResize,
                FilePondPluginImagePreview,
                FilePondPluginFileEncode
                );
                FilePond.setOptions({
                    stylePanelAspectRatio: 150/100,
                    imageResizeTargetWidth: 100,
                    imageResizeTargetHeight: 150
                })
                FilePond.parse(document.body)
        })
    </script>
    <title>add products</title>
</head>
<body>
  <nav class="navi"> 
    <!--menu-bar----------------------------------------->
    <div class="navigation">
      <!--logo------------>
      <a href="/" class="logo"><img src="/images/logo12.png"></a>
      <!--menu-icon------------->
      <div class="toggle"></div>
      <!--menu----------------->
      <ul class="menu">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/allproduct" class="nav-link">Store</a>
        </li>
        <!-- <li class="nav-item">
          <a href="/totalproduct" class="nav-link">Cart (<span class="amountcart"><%= amountcart %></span>)</a>
        </li> -->
      </ul>
      <!--right-menu----------->
      <div class="right-menu">
       
        <a href=""><%= name %></a>
        <a href="/account" class="user">
          <i class="far fa-user"></i>
        </a>
        <a href="javascript:void(0);" class="search">
         <i class="fas fa-search"></i>
       </a>
        <a href="/totalproduct">
          <i class="fas fa-shopping-cart">
            <span class="num-cart-product"><%= amountcart %></span>
          </i>
        </a>
      </div>
      </div>
    </nav>
    <!--search-bar----------------------------------->
   
  <form action="/search" method="POST">
    <div class="search-bar">
       
      <!--search-input------->
      <div class="search-input">
      <input type="text" placeholder="Search For Product" name="productsearch" />
      <button class="btnsearch" type="submit">
        <i class="fas fa-search"></i>
      </button>
      <!--cancel-btn--->
      <a href="javascript:void(0);" class="search-cancel">
        <i class="fas fa-times"></i>
      </a>
    
    </div>
    </div>
  </form>
  
 

<div class="container-fluid">
  <div class="row">   
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky">
          <ul class="nav flex-column">
              
              <li style="margin-top: 90px; margin-bottom: 30px;" class="nav-item">
                  <div class="row">
                      <div  class="col">
                        <div style="margin-top: 115px;"  class="comment-avatar">
                          <% if(infouser[0].img == null ){ %>
                           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvQEQCcjYH7AtTrajxOamNGbhLdHKohvYrid1g0EOSZEmhjWJpLZu4WKzRNVGl03y4aDc&usqp=CAU">
                           <% }else{ %>
                             <img src="<%= infouser[0].coverImagePath %>" alt="">
                           <% } %>
                         </div> 
                      </div>
                      <div style="font-family: 'Merriweather', serif;" class="col">
                          <p style="margin-left: -25px; margin-top: -72px; font-size: 25px;"><%= infouser[0].username %></p>
                          <small style="font-size: 12px; margin-top: -10px; margin-left: -24px; position: absolute; color: gray;" >Manage your personal information.</small>
                      </div>
                  </div>
                                  
              </li>
              
              <li class="nav-item">
                  <a  style="margin-left: 50px; margin-bottom: 30px; margin-top: 20px;" class="nav-link" href="/account/accountinfo">
                    <i class="far fa-user"></i>
                    <span class="ml-2">Account</span>
                  </a>                      
              </li>
              <li class="nav-item">
                  <a style="margin-left: 50px; margin-bottom: 30px;" class="nav-link" href="/account/email">
                    <i class="far fa-envelope"></i>
                    <span class="ml-2">Email</span>
                  </a>
                </li>
              <li class="nav-item">
                <a style="margin-left: 50px; margin-bottom: 30px;" class="nav-link" href="/account/address">
                  <i class="fas fa-map-pin"></i>
                  <span class="ml-2">Address & Phone</span>
                </a>
              </li>
              <li class="nav-item">
                <a style="margin-left: 50px; margin-bottom: 30px;"  class="nav-link" href="/account/creditcard">
                  <i class="far fa-credit-card"></i>
                  <span class="ml-2">Creditcard</span>
                </a>
              </li>
              <li class="nav-item">
                  <a style="margin-left: 50px; margin-bottom: 30px;" class="nav-link" aria-current="page" href="/account/historybuyer">
                      <i class="fab fa-product-hunt"></i>
                    <span class="ml-2">Order</span>
                  </a>
              </li>
              <% if(name == 'admin') { %>
                <li class="nav-item">
                    <a style="margin-left: 50px; margin-bottom: 30px;" class="nav-link active" aria-current="page" href="/account/seller">
                        <i class="fab fa-sellsy"></i>
                      <span class="ml-2">Seller</span>
                    </a>
                </li>
                <% } %>
                <form action="/account/logout">
                  <div style="margin-top: 50px; margin-left: 65px;">
                    <button class="btn-secondary btn"> Log out &nbsp; <i class="fas fa-sign-out-alt"></i></button>
                  </div>
                </form>
           
            </ul>
      </div>
  </nav>
      <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
          <nav aria-label="breadcrumb">
              <ol style="font-size: 20px;" class="breadcrumb">
                  <li class="breadcrumb-item"><a style="color: black;"  href="/">Home</a></li>
                  <li class="breadcrumb-item active" style="color: #8C7741;" aria-current="page">Add Products</li>
              </ol>
          </nav>
          <h1 style="font-size: 24px;" class="h2">Add Products</h1>
          <p style="font-size: 13px;">Manage your products.</p>
          <hr>
          <div class="row my-4">              
             <div style="margin-left: 100px; margin-top: 0px;" class="col-12 col-md-6 col-lg-9 mb-4 mb-lg-0">
                <div class="">
                    <div class="">
                      <i style="font-size: 20px;" class="far fa-edit"></i>&nbsp;&nbsp; <span style="font-size: 22px;">Add Products</span> 
                    </div>
                    <div style="margin-left: -20px; margin-top: -40px;" class="card-body">
                      <div class="container" style="margin-top: 50px;">
                        <a href="/account/seller" class="btn btn-info">Back</a>
                        <br><br>
                        
                        <div class="card">
                            <div class="card-header">
                                Add Products
                            </div>
                            <div class="card-body">
                                <form action="/account/addproduct" method="post">
                                    <div style="margin-bottom: 10px;" class="form-group">
                                        <label style="font-size: 12px; margin-bottom: 10px;">Product Name</label>
                                        <input type="text" class="form-control" name="name" autocomplete="off" required>
                                    </div>
                                    <div style="margin-bottom: 10px;" class="form-group">            
                                      </textarea>  
                                        <label style="font-size: 12px; margin-bottom: 10px;">Detail</label>
                                        <textarea type="text" class="form-control" name="detail" required>
                                        </textarea>
                                    </div>
                                    <div style="margin-bottom: 10px;" class="form-group">
                                        <label style="font-size: 12px; margin-bottom: 10px;">Category</label>
                                        <input type="text" class="form-control" name="category" required>
                                    </div>
                                    <div style="margin-bottom: 10px;" class="form-group">
                                        <label style="font-size: 12px; margin-bottom: 10px;">Price</label>
                                        <input type="text" class="form-control" name="price" required>
                                    </div>
                                    <div style="margin-bottom: 10px;" class="form-group">
                                      <label style="font-size: 12px; margin-bottom: 10px;">Agign:</label>
                                      <input type="text" class="form-control" name="aging" required>
                                  </div>
                                  <div style="margin-bottom: 10px;" class="form-group">
                                    <label style="font-size: 12px; margin-bottom: 10px;">Alcohol:</label>
                                    <input type="text" class="form-control" name="alcohol" required>
                                </div>
                                <div style="margin-bottom: 10px;" class="form-group">
                                  <label style="font-size: 12px; margin-bottom: 10px;">Brand:</label>
                                  <input type="text" class="form-control" name="brand" required>
                              </div>
                              <div style="margin-bottom: 10px;" class="form-group">
                      
                                <div class="row">
                                  <div class="col-2">
                                    <label style="font-size: 12px; margin-bottom: 10px;">sweet taste:</label>
                                    <select class="form-control" name="sweettaste">
                                      <option value="0">0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="-">-</option>
                                    </select>                                 
                                  </div>
                                  <div class="col-2">
                                    <label style="font-size: 12px; margin-bottom: 10px;">acidity taste:</label>
                                    <select class="form-control" name="aciditytaste">
                                      <option value="0">0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="-">-</option>
                                    </select>                                  
                                  </div>
                                  <div class="col-2">
                                    <label style="font-size: 12px; margin-bottom: 10px;">body taste:</label>
                                    <select class="form-control" name="bodytaste">
                                      <option value="0">0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="-">-</option>
                                    </select>  
                                  </div>
                                  <div class="col-2">
                                    <label style="font-size: 12px; margin-bottom: 10px;">finish taste:</label>
                                    <select class="form-control" name="finishtaste">
                                      <option value="0">0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="-">-</option>
                                    </select>  
                                  </div>
                                </div>
                               
                            </div>
                                    <div style="margin-bottom: 10px;" class="form-group">
                                      <label style="font-size: 12px; margin-bottom: 10px;">Quantity</label>
                                      <input type="text" class="form-control" name="quantity" required>
                                  </div>
                                  <div style="margin-bottom: 10px; margin-left: 11px;" class="col imgsell">
                                    <label style="margin-left: -10px; margin-bottom: 10px; font-size: 12px;" for="img" >Image </label>
                                    <div style="margin-bottom: 30px; margin-left: -15px; width: 200px; " class="ui field">
                                        <input type="file" name="img" class="filepond filepond--item ui image small" required>
                                    </div>
                                  </div>
                                   
                                    <div style="margin-bottom: 20px; margin-top: 10px;" class="form-group">
                                        <input type="submit" class="btn btn-info" value="Add product">
                                    </div>
                                </form>
                            </div>
                        </div>
                      </div>
                   </div>
               </div>
           </div>
         </div>         
      </main>
  </div>
</div>




</body>
</html>