<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/logo12.jpeg" type="image/x-icon" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
crossorigin="anonymous">
 <script
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossorigin="anonymous" defer
  ></script>
  <link rel="stylesheet" href="css/checkout.css">
  <link rel="stylesheet" href="css/style3.css">
  <link rel="stylesheet" href="css/style4.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js" defer></script>
  <script src="/js/product.js" defer></script>
  <script src="/js/slider.js" defer></script>
  <script src="/js/index.js" defer></script>
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js" defer></script>

  <script src="/js/cart.js" defer></script>
  <title>totalproduct</title>
</head>
<body>

  <nav class="navi"> 
    <!--menu-bar----------------------------------------->
    <div class="navigation">
      <!--logo------------>
      <a href="/" class="logo"><img src="images/logo12.png"></a>
      <!--menu-icon------------->
      <div class="toggle"></div>
      <!--menu----------------->
      <ul class="menu">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/allproduct" class="nav-link">Store</a>
        </li>
      
        <!-- <li class="nav-item">
          <a href="/totalproduct" class="nav-link">Cart (<span class="amountcart"><%= amountcart %></span>)</a>
        </li> -->
      </ul>
      <!--right-menu----------->
      <div class="right-menu">
       
        <a href=""><%= name %></a>
        <a href="/account" class="user">
          <i class="far fa-user"></i>
        </a>
        <a href="javascript:void(0);" class="search">
         <i class="fas fa-search"></i>
       </a>
        <a href="#">
          <i class="fas fa-shopping-cart">
            <span class="num-cart-product"><%= amountcart %></span>
          </i>
        </a>
      </div>
      </div>
    </nav>
    <!--search-bar----------------------------------->
   
  <form action="/search" method="POST">
    <div class="search-bar">
       
      <!--search-input------->
      <div class="search-input">
      <input type="text" placeholder="Search For Product" name="productsearch" />
      <button class="btnsearch" type="submit">
        <i class="fas fa-search"></i>
      </button>
      <!--cancel-btn--->
      <a href="javascript:void(0);" class="search-cancel">
        <i class="fas fa-times"></i>
      </a>
    
    </div>
    </div>
  </form>

  <div style="margin-top: 50px; margin-bottom: 16%;" class="container">
    <div style="box-shadow: 0 5px 5px 0px rgba(124, 123, 123, 0.4);  background: white; padding: 20px 20px; border: white 1px solid; margin-bottom: 0px;">
      <h2 class="mb-3"><i class="fas fa-shopping-bag"></i>&nbsp; Cart</h2>

      <section class="product-area mt-4">
        <% if(!cartproduct.length) { %>
          <p style="margin-left: 40%; margin-bottom: 10px;">No products in your cart &nbsp; <i style="font-size: 20px;" class="far fa-tired"></i></p>
          <div class="homey">
            <a href="/allproduct"><i class="fas fa-store"></i> &nbsp; Go to sopping </a>
          </div>
          <% }else{ %>
          <table class="table table-hover">
              <thead>
                  <tr>
                      <td>Item Description</td>
                      <td>Price</td>
                      <td>Quantity</td>
                      <td>Subtotal</td>
                  </tr>
              </thead>
              <tbody>
                <% if(cartproduct) { %>
                  <% cartproduct.forEach(m => { %> 
                  <tr>
                      <td>
                          <div class="media">
                              <img class="mr-3 img-fluid" src="<%= m.coverImagePath %>">
                              <div class="media-body">
                                  <p class="mt-0 title"><%= m.productname %></p>
                                  <p class="title3"><%= m.productcategory %></p>
                                  <form action="/cart/removecart?ids=<%= m.productname %>" method="POST">
                                    <button style="padding: 0px 2px;" class="btn btn-danger" type="submit">REMOVE</button>
                                  </form>
                              </div>
                          </div>
                      </td>
                      <td><%= m.productprice %> $</td>
                      <form action="/cart/updatecarts?idss=<%= m.productname %>" method="POST">
                        <td><input style="width: 50px; border-radius: 5px; border: 1px solid gray; padding: 0;text-align: center;" onChange="this.form.submit();" class="cart-quantity-input" type="number" name="quantity" min="1" max="<%= m.productmaxquantity %>" value="<%= m.productquantity %>"></td>
                      </form> 
                      <td><%= (m.productprice*m.productquantity).toFixed(2) %> $</td>
                  </tr>
                  <% }) %> 
                  <% } %> 
                
              </tbody>
          </table>
          <% } %>
      </section> 
  </div>
  <% if(!cartproduct.length) { %>
  <% }else{ %>
  <div style="padding: 20px 20px; border: gray 1px dashed; margin-bottom: 20px; margin-top: 3px; background: #FEFEFA;">
    <div class="row my-3 gy-3">
        <div style="margin-left:70%;">
            <h4>Subtotal : <span style="font-size: 15px; margin-left: 30px;" class="cart-total-subtotal" > <%= subtotal %></span> $</h4>
        </div>    
        <div style="margin-left:70%; margin-top: 10px;"">
            <h4>Delivery : <span style="font-size: 15px; margin-left: 30px;" class="cart-total-tax" > <%= tax %></span> $</h4>
        </div>    
        <div style="margin-left:70%; margin-top: 10px;">
            <h4>Total : <span style="font-size: 20px; color: rgb(182, 75, 75); margin-left: 50px;" class="cart-total-price">  <%= total %></span> $</h4>
        </div>
        <div style="margin-left: 72%; margin-top: 20px; ">
           <a href="/cart/checkout">
            <button class="purchase" type="submit" style="padding: 5px 20px; background: black; color: white;">check out</button>
           </a>
        </div>
    </div>
</div>
<% } %>
</div>

  

  <footer id="footer" class="section footer">
    <div class="container">
      <div class="footer-container">
        <div class="footer-center">
          <h3>EXTRAS</h3>
          <a href="#">Brands</a>
          <a href="#">Gift Certificates</a>
          <a href="#">Specials</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-center">
          <h3>INFORMATION</h3>
          <a href="#">About Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
          <a href="#">Contact Us</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-center">
          <h3>MY PROFILE</h3>
          <a href="#">FB : Sedtawut chalothornnarumit</a>
          <a href="#">IG : Aoystwr</a>
          <a href="#">Twitter : Aoystwr</a>
          <a href="#">LineID : aoybcc</a>
        </div>
        <div class="footer-center">
          <h3>CONTACT US</h3>
          <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
            123 Aoy House, Aoy street, Bangkok
          </div>
          <div>
            <span>
              <i class="far fa-envelope"></i>
            </span>
            aoy35085@hotmail.com
          </div>
          <div>
            <span>
              <i class="fas fa-phone"></i>
            </span>
            095-291-1766
          </div>
          <div>
            <span>
              <i class="far fa-paper-plane"></i>
            </span>
            Aoy City, Bangkok
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>

   
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
  

  

</body>
 
</html>